In [3]:
import pandas as pd

Cargar datos

In [4]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv("dataset_final.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
df[["Name"]]

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [6]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
pokemon_Type1 = df["Type 1"]== "Poison"
df[pokemon_Type1]
len(df[pokemon_Type1])

28

In [9]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
pokemon_Type_1 = df["Type 1"]
different_type1= set(pokemon_Type_1)
print(different_type1)
print(len(different_type1))

{'Water', 'Ground', 'Bug', 'Rock', 'Dark', 'Normal', 'Electric', 'Dragon', 'Fairy', 'Ice', 'Fire', 'Poison', 'Steel', 'Fighting', 'Psychic', 'Ghost', 'Flying', 'Grass'}
18

In [66]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
number_each_type1= df.groupby(["Type 1"])["Name"].count().sort_values(ascending=False)
print(number_each_type1)


'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)

'''

#print(number_each_type1.keys()[0])

#df2=df.iloc[:, 0]
max_number_pokemon= max(number_each_type1)
print(number_each_type1.keys()[0], "is the majority type of pokemons with a number of",max_number_pokemon)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64
Water is the majority type of pokemons with a number of 112

In [78]:
'''
3. ¿Cuál es el pokémon más rápido?
'''

'\n3. ¿Cuál es el pokémon más rápido?\n'

In [50]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''

In [ ]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''

In [ ]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''

In [ ]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''

In [ ]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''

In [ ]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''

In [ ]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

In [ ]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

In [ ]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''

In [18]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra

# B. Una función que calcule el precio total de la compra con un descuento del 10%

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

# D. Una función que calcule el precio total aplicando el IVA (21%)

# E.lista los artículos cuyo precio es superior a 20€

In [ ]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]