In [3]:
import pandas as pd

Cargar datos

In [4]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv("dataset_final.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [165]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
df[["Name"]]
print(len(df))

800

In [6]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
pokemon_Type1 = df["Type 1"]== "Poison"
df[pokemon_Type1]
len(df[pokemon_Type1])

28

In [9]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
pokemon_Type_1 = df["Type 1"]
different_type1= set(pokemon_Type_1)
print(different_type1)
print(len(different_type1))

{'Water', 'Ground', 'Bug', 'Rock', 'Dark', 'Normal', 'Electric', 'Dragon', 'Fairy', 'Ice', 'Fire', 'Poison', 'Steel', 'Fighting', 'Psychic', 'Ghost', 'Flying', 'Grass'}
18

In [159]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
number_each_type1= df.groupby(["Type 1"])["Name"].count().sort_values(ascending=False)
print(number_each_type1)


'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)

'''

max_number_pokemon= max(number_each_type1)
print(number_each_type1.keys()[0], "is the majority type of pokemons with a number of",max_number_pokemon)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64
Water is the majority type of pokemons with a number of 112

In [158]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
speed_pokemon= df[["Name", "Speed"]]

faster_pokemon = speed_pokemon.loc[df['Speed'].idxmax()]
print(faster_pokemon)

Name     DeoxysSpeed Forme
Speed                  180
Name: 431, dtype: object

In [147]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''

df_filtrado = df[(df['Name'].all) and (df['Defense'] > 100)]
df_filtrado.reset_index(drop=True, inplace=True)
print(len(df_filtrado), "pokemones tiene Defensa mayor a 100")

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''

123 pokemones tiene Defensa mayor a 100

'\n4.1 ¿Cuántos pokemon tiene una defensa superior a 100?\n'

In [152]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
df_filtrado1 = df[(df['Name'].all) and (df['Defense'] > 100)]
df_filtrado = df_filtrado1[(df['Name'].all)and (df["Speed"] > 100)]
df_filtrado.reset_index(drop=True, inplace=True)
print(len(df_filtrado), "pokemones tiene Defensa mayor a 100 y una velocidad superior a 100")

9 pokemones tiene Defensa mayor a 100 y una velocidad superior a 100

/var/folders/yh/nttnvvwn565_gnd98_z427v80000gp/T/ipykernel_81653/254946503.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_filtrado = df_filtrado1[(df['Name'].all)and (df["Speed"] > 100)]

In [154]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(['Type 1', 'Type 2'], ascending=[True, True])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [175]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
df_type_1 = df[df["Type 1"].isin(["Fire", "Water"])]
print(df_type_1)

       #                       Name Type 1  Type 2  Total  HP  Attack  \
4      4                 Charmander   Fire     NaN    309  39      52
5      5                 Charmeleon   Fire     NaN    405  58      64
6      6                  Charizard   Fire  Flying    534  78      84
7      6  CharizardMega Charizard X   Fire  Dragon    634  78     130
8      6  CharizardMega Charizard Y   Fire  Flying    634  78     104
..   ...                        ...    ...     ...    ...  ..     ...
735  667                     Litleo   Fire  Normal    369  62      50
736  668                     Pyroar   Fire  Normal    507  86      68
762  692                  Clauncher  Water     NaN    330  50      53
763  693                  Clawitzer  Water     NaN    500  71      73
799  721                  Volcanion   Fire   Water    600  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         43       60       50     65           1      False
5         58       80       65     80           1      False
6         78      109       85    100           1      False
7        111      130       85    100           1      False
8         78      159      115    100           1      False
..       ...      ...      ...    ...         ...        ...
735       58       73       54     72           6      False
736       72      109       66    106           6      False
762       62       58       63     44           6      False
763       88      120       89     59           6      False
799      120      130       90     70           6       True

[164 rows x 13 columns]

In [169]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
print(len(df))
df_legendary = df[df["Legendary"] == True]
print(df_legendary)
print(len(df_legendary))

800
       #                 Name    Type 1    Type 2  Total   HP  Attack  \
156  144             Articuno       Ice    Flying    580   90      85
157  145               Zapdos  Electric    Flying    580   90      90
158  146              Moltres      Fire    Flying    580   90     100
162  150               Mewtwo   Psychic       NaN    680  106     110
163  150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190
..   ...                  ...       ...       ...    ...  ...     ...
795  719              Diancie      Rock     Fairy    600   50     100
796  719  DiancieMega Diancie      Rock     Fairy    700   50     160
797  720  HoopaHoopa Confined   Psychic     Ghost    600   80     110
798  720   HoopaHoopa Unbound   Psychic      Dark    680   80     160
799  721            Volcanion      Fire     Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
156      100       95      125     85           1       True
157       85      125       90    100           1       True
158       90      125       85     90           1       True
162       90      154       90    130           1       True
163      100      154      100    130           1       True
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[65 rows x 13 columns]
65

In [ ]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''

In [ ]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

In [ ]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

In [ ]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''

In [18]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra

# B. Una función que calcule el precio total de la compra con un descuento del 10%

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

# D. Una función que calcule el precio total aplicando el IVA (21%)

# E.lista los artículos cuyo precio es superior a 20€

In [ ]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]